.background-clock {
  height: 100vh;
  background-image: url('../../images/logged-in-background.jpg');
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
  overflow: auto;
  opacity: 0.8;
}

#clock-header {
  display: flex;
  justify-content: center;
  align-items: center;
  color: #287add;
  font-family: 'Montserrat', sans-serif;
  font-size: 1.4rem;
  font-weight: 750;
}

#picture-title-styling {
  text-align: center;
  margin: 20px;
}


#punches-container {
  width: 680px;
  margin: 0 auto;
}

#punches-title {
  display: flex;
  justify-content: center;
  color: #287add;
  font-family: 'Montserrat', sans-serif;
  font-size: 1.2rem;
  font-weight: 750;
  margin-bottom: 2vh;
  padding: 5px;
  border: 2px gold solid;
}

#punches-title span {
  text-align: center;
  width: 170px;
  color: #287add;
}

#punch-box {
  display: flex;
  justify-content: space-between;
  font-family: 'Montserrat', sans-serif;
}

.clock-buttons {
  border: none;
  height: 45px;
  width: 85px;
  background-color: white;
  color: #287add;
  border-radius: 20px;
  margin: 0 10px;
  box-shadow: 2px 2px 2px 1px rgba(0, 0, 255, .2);
  margin: 5px 5px;
}
.clock-buttons:hover {
  background-color:rgb(241, 241, 241);
  border: 2px gold solid;
  cursor: pointer;
}
@media (max-width: 775px) {
  #punches-container {
    width: 500px;
  }
  
  #punches-title span {
    width: 125px;
  }
}
@media (max-width: 550px) {
  #punches-container {
    width: 340px;
  }
  
  #punches-title span {
    width: 85px;
  }
  #picture-title-styling {
    margin: 20px 0;
  }
}
@media (max-width: 445px) {
  #punches-container {
    width: 300px;
  }
  #punches-title span {
    width: 75px;
  }
  #picture-title-styling h1 {
    font-size: 1.02rem;
  }
}