

#card-container {
  height: 370px;
  width: 300px;
  background-color: #287add;
  margin: 10px 5px;
  border-radius: 15px;
  box-shadow: 3px 3px 2px 1px rgba(0, 0, 0, 0.2);
  opacity: 0.83;
}
#card-container:hover {
  border: 1px gold solid;
  opacity: 0.75;
  transition: 0.3s;
}

#card-content-style {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.text-style {
  text-align: center;
  line-height: 70px;
  font-size: 1.5rem;
  color: white;
  font-family: 'Montserrat', sans-serif;
}

#image-style {
  height: 170px;
}

#delete-style {
  border: none;
  background: none;
  padding: 10px;
  display: flex;
  justify-content: flex-end;
  font-size: 1.1rem;
  font-weight: 700;
}

#delete-style:hover {
  color: lightgray;
}

.link-style {
  text-decoration: none;
}