#nav-spacing {
  height: 4.5rem;
  width: 100%;
  padding: 5px 5px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: none;
}

#nav-spacing:hover {
  background-color: none;
}

body {
  color: #287add;
}

.user-options {
  display: flex;
}

.user-button {
  height: 2rem;
  width: 5rem;
  background: #287add;
  margin: 0 1rem;
  text-align: center;
  color: rgb(241, 238, 238);
  line-height: 1.9rem;
  border-radius: 0.5rem;
  font-family: 'Montserrat', sans-serif;
  }

.user-button:hover {
  cursor: pointer;
  opacity: 0.8;
  border: 0.5px gold solid;
  transition: 0.15s;

}

.button-styling {
  border: none;
  height: 40px;
  width: 75px;
  background-color: white;
  color: #287add;
  border-radius: 20px;
  margin: 0 10px;
  box-shadow: 2px 2px 2px 1px rgba(0, 0, 255, .2);
}
.button-styling:hover {
  background-color:rgb(250, 250, 250);
  border: 2px gold solid;
  cursor: pointer;
}

.logo {
  height: 80px;
}

@media (max-width: 470px) {
  .logo {
    height: 60px;
  }
  .button-styling {
    height: 35px;
    width: 70px;
    
  }
}
@media (max-width: 470px) {
  .logo {
    height: 55px;
  }
  .button-styling {
    height: 35px;
    width: 65px;
    font-size: 0.7rem;
  }
  #nav-spacing {
    padding: 0;
  }
}

@media (max-width: 350px) {
  #nav-spacing {
    margin-bottom: 0;
  }
}
