#nav-spacing {
  height: 70px;
  width: 100%;
  padding: 5px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: none;
}

#nav-spacing:hover {
  background-color: none;
}

body {
  color: #287add;
}

.button-styling {
  border: none;
  height: 40px;
  width: 75px;
  background-color: white;
  color: #287add;
  border-radius: 20px;
  margin: 0 10px;
  box-shadow: 2px 2px 2px 1px rgba(0, 0, 255, .2);
}
.button-styling:hover {
  background-color:rgb(228, 228, 228);
  border: 2px gold solid;
  cursor: pointer;
}

.logo {
  height: 80px;
}
