.background {
  height: 100vh;
  background-image: url('../../images/logged-in-background.jpg');
  background-size: cover;
  background-attachment: fixed;
  background-repeat: repeat-y;
}
/* .body-container {
  background-color: white;
  height: calc(100vh - 70px);
  padding: 30px;
} */

#back-icon {
  height: 40px;
  margin: 20px;
}

.img-n-clock-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.profile-container {
  height: 70vh;
  width: 820px;
  background-color: #287add;
  margin: 0 auto;
  color: white;
  padding: 20px;
  border-radius: 30px;
  box-shadow: 3px 3px 2px 1px rgba(0, 0, 0, 0.2);
  opacity: 0.8;
}

.picture {
  border: 4px grey solid;
  border-radius: 75px;
  height: 150px;
  width: 150px;
}

.info-container {
  padding: 10px 140px;
}

.info-container div {
  margin: 5px 0;
  font-size: 1.5rem;
}

.salary-spacing {
  display: flex;
  justify-content: space-between;
}

.buttons {
  border: none;
  height: 40px;
  width: 80px;
  background-color: white;
  color: #287add;
  border-radius: 20px;
  margin: 0 10px;
  box-shadow: 2px 2px 2px 1px rgba(0, 0, 255, .2);
}
.buttons:hover {
  background-color:rgb(241, 241, 241);
  border: 2px gold solid;
  cursor: pointer;
}