#background {
  background-image: url('../../images/background.png');
  background-size: cover;
  background-attachment: fixed;
  overflow-y: auto;
}

#header {
  display: flex;
  justify-content: center;
  color: white;
  background-color: #287add; 
  height: 100px;
  font-family: 'Satisfy', cursive;
  font-size: 4rem;
  opacity: 0.7;
  align-items: center;
}

#options-spacing {
  display: flex;
  align-items: center;
  justify-content: center;
  height: calc(100vh - 4.5rem - 100px);
  width: 100%;
  overflow: visible;
}

/* .auth-content-display {
  width: 1650px;
  margin: 0 auto;
} */

.modal {
  position: fixed;
  top: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100vw;
  height: 100vh;
  background: rgb(228, 228, 228);
  opacity: 0.8;
  transition: 0.5s
}

/* .hide-modal {
  opacity: 0;
  pointer-events: none;
}
.show-modal {
  opacity: 1;
  pointer-events: all;
} */

.option-container {
  height: 420px;
  width: 430px;
  background-color: #287add;
  text-align: center;
  border-radius: 20px;
  margin: 20px;
  opacity: 1;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 20px;
  overflow: visible;
  z-index: 2;
}

.option-container:hover {
  opacity: 0.8;
  border: 1.5px gold solid;
  transition: 0.15s;
}

#sign-in {
  margin: 20px;
  font-size: 2.5em;
  color: white;
  font-family: 'Montserrat', sans-serif;
}

#register {
  margin: 20px;
  font-size: 2.5em;
  color: white;
  font-family: 'Montserrat', sans-serif;
}

.button-spacing {
  display: flex;
}

.button-styling {
  border: none;
  height: 40px;
  width: 75px;
  background-color: white;
  color: black;
  border-radius: 20px;
  margin: 0 10px;
  box-shadow: 2px 2px 2px 1px rgba(0, 0, 255, .2);
}
.button-styling:hover {
  background-color:rgb(228, 228, 228);
  border: 2px gold solid;
  cursor: pointer;
}

/* @media(max-width: 2000px) {
  .option-container {
    width: 
  }
} */
@media(max-width: 1030px) {
  #header {
    font-size: 3rem;
  }
  .option-container {
    height: 410px;
    width: 350px;
  }
}
@media(max-width: 830px) {
  #header {
    font-size: 2.6rem;
  }
  .option-container {
    width: 320px;
  }
}
@media(max-width: 720px) {
  #header {
    font-size: 2.4rem;
  }
  .option-container {
    width: 350px;
    height: 385px;
  }
  /* #options-spacing {
    flex-direction: column;
    height: 100%;
  } */
}
@media(max-width: 540px) {
  #header {
    font-size: 2rem;
  }
  .option-container {
    width: 330px;
    height: 410px;
    padding-top: 10px;
  }
}
@media(max-width: 400px) {
  #header {
    font-size: 1.82rem;
  }
  .option-container {
    width: 300px;
    height: 370px;
    padding-top: 2px;
  }
}
@media(max-width: 350px) {
  #header {
    font-size: 1.65rem;
  }
  .option-container {
    width: 270px;
    height: 350px;
    padding: none;
    margin: 10px 20px;
  }
  #register {
    margin: 15px 20px;
  }
}
